myvenv
media/
pcenv/
*/migrations/*
.env
*.pyc
__pycache__/
pc-ui
*.pdf
frontend/node_modules
node_modules/
placement_cell_oauth_creds.json
*.sqlite3
*.db
*.png
*.jpg
*.jpeg
*.svg
*.gif
*.ico
*.mp4
*.webm
*.wav
